ansible==2.10.4
ansible-base==2.10.4
ansible-lint==4.3.7
ansible-lint-junit==0.15
ara==1.5.4
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cliff==3.5.0
cmd2==1.4.0
colorama==0.4.4
commonmark==0.9.1
cryptography==3.3.2
Django==2.2.17
django-cors-headers==3.6.0
django-filter==2.4.0
django-health-check==3.16.2
djangorestframework==3.12.2
dynaconf==3.1.2
idna==2.10
importlib-metadata==3.3.0
Jinja2==2.11.3
junit-xml==1.9
lxml==4.6.2
MarkupSafe==1.1.1
packaging==20.8
pathspec==0.8.1
pbr==5.5.1
prettytable==0.7.2
pycparser==2.20
Pygments==2.7.3
pyparsing==2.4.7
pyperclip==1.8.1
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
rich==9.7.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
sqlparse==0.4.1
stevedore==3.3.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.2
wcwidth==0.2.5
whitenoise==5.2.0
yamllint==1.25.0
yamllint-junit==0.8
zipp==3.4.0
